//- pug index.pug --pretty --watch --out ../
doctype html
html(lang='en')
  head
    title Example Paralax
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='js/para.js')
    link(rel='stylesheet', href='css/index.css')
  body
    //- image(src='https://picsum.photos/500/500/?random')
    header.para-box
      .logo
      .fore-bird
      .back-bird

    section.content
      article
        h1 Unique Style Test
        hr
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        hr

    .scroll-padding
